
  <div id="ninja-wrapper">
    <div class="ninja-header">
        <div class="gamename"><p>jQuery  -  assignment 1</p></div>
        <div class="ninjastar"><img src="../assets/images/ninjastar.png"></div>
    </div>
    <div class="ninja-main">
        <div class="main-img"><img src="../assets/images/ninjas.jpg"></div>
        <div class="main-img"><img src="../assets/images/ninjas.jpg"></div>
        <div class="main-img"><img src="../assets/images/ninjas.jpg"></div>
        <div class="main-img"><img src="../assets/images/ninjas.jpg"></div>
        <div class="main-img"><img src="../assets/images/ninjas.jpg"></div>
        <div class="main-img"><img src="../assets/images/ninjas.jpg"></div>
        <div class="main-img"><img src="../assets/images/ninjas.jpg"></div>
        <div class="main-img"><img src="../assets/images/ninjas.jpg"></div>
    </div>
    <div class="footer">
        <button>NINJA COME BACK!!!</button>
    </div>
  </div>

  <a href="/"><h2>Back!</h2></a>
