<div id="stage">
  <a href="1.jpg"><img src="../assets/images/paul1.jpeg" width="270" height="360"></a>
  <a href="2.jpg"><img src="../assets/images/paul2.jpeg" width="270" height="360"></a>
  <a href="3.jpg"><img src="../assets/images/paul3.jpeg" width="270" height="360"></a>
  <a href="4.jpg"><img src="../assets/images/paul4.jpeg" width="270" height="360"></a>
  <a href="5.jpg"><img src="../assets/images/paul5.jpeg" width="270" height="360"></a>
  <a href="6.jpg"><img src="../assets/images/paul6.jpeg" width="270" height="360"></a>
    <!-- <a href="7.jpg"><img src="../assets/images/paul1.jpeg" width="270" height="360"></a>
  <a href="8.jpg"><img src="../assets/images/paul1.jpeg" width="270" height="360"></a> -->
</div>
<a href="/">Back</a>

