

<div id="about">
  <div class="about-main">
    <h1>about me</h1>
  <div class="bg-skew">
       <div class="lil-skew">
        <img src="../assets/images/rooster.png" alt="Stensil of a rooster">
      </div>

      <div class="aboutMe">
        <p>
            Greetings! My name is Paul and I am an entry-level full stack engineer,
            currently self employed working on a variety of development and maintenance projects.
            I am looking for a job in the computer software industry. I am a recent graduate of the
            bootcamp-style programming academy <a target="_blank" href="https://www.codingdojo.com">Coding Dojo</a>.
            There I learned how to develop full stack applications
            using JavaScript, MySQL, Java, Spring Tool Suite, Django, Flask, MogoDB, Express,
            Angular, Node, NoSQL, HTML/5, and CSS/3, jQuery. I am interested in a position
            working anywhere in the stack, and I particularly like working with the front end.
            I fell in love with Angular and really enjoy learning new languages and deepening
            my knowledge of code. I am looking for contacts, perspectives, possibly mentors and of
            course job opportunities. I am in seattle and love to meet up for
            coffee or food and chat. Let's do cool stuff!
        </p>
    </div>
    </div>
  </div>
</div>
