<div id="portfolio">
  <div class="portfolio-main">
  <h1>portfolio</h1>
  <div class="portfolio-main-content">

    <div id="proj1">
      <h2>Choreganizer</h2>


      <div class="grid">
					<figure class="effect-jazz">
						<img src="../assets/images/chore.png" alt="img25"/>
						<figcaption>
              <p><span style="font-size: 2rem;
                color: rgb(0, 225, 255);
                font-family: 'Amatic SC', cursive;
                word-spacing: -0.15em;
                font-weight: bold;">choreganizer</span><br><br>
                This application my friend and I developed <br>to help communal households
                organize chores.<br> We implemented a database relationship schema with<br>
                super admin, admin, house manager and regular user roles. As <br>well as independent
                houses that can be created or joined. Anyone who starts a new house is automatically
                assigned the role of admin for that house and they can create, delete and update chores
                as well as assign and revoke other admins.
                We used ajax calls to set up the CRUD operations. Feel free to 'Click' now and set up a <br>house of your
                own or join our demo house. login email: johndoe@gmail.com  password: fakepass<br> Open source code available through<br> github link below.</p>
							<a href="http://18.204.202.243/login" target="_blank"></a>
						</figcaption>
					</figure>
      </div>
      <div class="wrapper">
          <p>technologies: </p>
          <img class="java" src="../assets/images/java.png">
          <img class="spring" src="../assets/images/spring.png">
          <img class="tomcat" src="../assets/images/tomcat.png">
          <img class="mysql" src="../assets/images/mysql.png">
          <ul>
            <a target="_blank" href="https://github.com/pawncouncil/choreganizer"><li class="github"><i class="fa fa-github fa-2x" aria-hidden="true"></i></li></a>
          </ul>
        </div>
    </div>

    <div id="proj2">
        <h3>Travel Buddy</h3>
          <div class="grid">
              <figure class="effect-jazz">
                <img src="../assets/images/travel.png" alt="img25"/>
                <figcaption>
                  <p><span style="font-size: 2rem;
                    color: #580000;
                    font-family: 'Raleway', sans-serif;
                    word-spacing: -0.15em;
                    font-weight: bold;">Travel Buddy</span><br><br>
                    This is my first full stack application.<br>
                    This is a Python exam that I took three weeks
                    into<br> learning how to set up a virtual environment,
                    server, MySql database, flask then Django, models/migrations,
                    RESTful API's, CRUD operations, and login/registration with
                    validtions and Bcrypt. It was a lot to take in in three weeks. This
                    is where it started to really sink in that I am interested
                    in front end design and user experience. While the colors and
                    "vibe" of this project do not really align with a travel type application,
                    I was learning and exploring how to make the front end environment inviting
                    and fun for <br>the user. 'Click' now to go to the finished exam.</p>
                  <a href="http://18.191.16.58/" target="_blank"></a>
                </figcaption>
              </figure>
          </div>

        <div class="wrapper">
            <p>technologies: </p>
            <img class="python" src="../assets/images/python.png">
            <img class="django" src="../assets/images/django.png">
            <img class="mysql" src="../assets/images/mysql.png">
            <ul>
              <a target="_blank" href="https://github.com/pawncouncil/belt"><li class="github"><i class="fa fa-github fa-2x" aria-hidden="true"></i></li></a>
            </ul>
          </div>
      </div>

    <div id="proj3">
        <h4>My Portfolio</h4>
        <div class="grid">
            <figure class="effect-jazz">
              <img src="../assets/images/portfolio.png" alt="img25"/>
              <figcaption>
                <p><span style="
                  font-size: 2rem;
                  color: #D0D0D0;
                  font-family: 'Dancing Script', cursive;
                  word-spacing: -0.15em;
                  font-weight: bold;">My Portfolio</span><br><br>
                  This portfolio was build using the MEAN stack.<br>
                   By far my favorite of the 3 stacks we learned. I feel<br> comfortable with the way front end
                  frameworks function<br> and thouroughly enjoy learning all the ins-and-outs of them.
                  I am currently learning swift as well as flutter. I am really hoping to find myself at a place doing
                  front end design and developement. </p>
                  <!-- 'Click' to navigate to my personal
                interests as well as other projects I have done or been involved with. -->
                <a href="/"></a>
                <!-- <a [routerLink]="['/port']"></a> -->
              </figcaption>
            </figure>
          </div>
        <div class="wrapper">
          <p>technologies: </p>
          <img class="mean" src="../assets/images/mean.png">
        </div>
    </div>

    <div id="proj4">
      <h5>Disappearing Ninja</h5>

      <div class="grid">
          <figure class="effect-jazz">
            <img src="../assets/images/byeninja.png" alt="Disappearing Ninja landing page"/>
            <figcaption>
              <p><span style="
                font-size: 1.5rem;
                color: black;
                text-shadow: 0 0 8px #c70303;
                font-family: 'Kaushan Script', cursive;
                word-spacing: -0.15em;
                font-weight: bold;">Disappearing Ninja</span><br><br>
                This is a basic jQuery game we learned in our<br> web fundamentals portion of the
                boot camp. This was<br> my first inkling I was interested in client side developement.<br>
                I really enjoy playing with JavaScript and playing with all the interactivity. My assignments
                would always take me longer than most because I just could not leave it sit unfinished looking.
                this is not terribly complicated but I really liked the way the theme turned out. It is also kind
                of a fun little game. 'Click' to go to the game.
              </p>
              <a href="/byeninja"></a>
            </figcaption>
          </figure>
        </div>

      <div class="wrapper">
          <p>technologies: </p>
          <img class="html5" src="../assets/images/html5.png">
          <img class="css3" src="../assets/images/css3.png">
          <img class="jquery" src="../assets/images/jquery.png">
        </div>
        <h4 class="hidden-message">Get a new phone!!!<br>there is better technology...</h4>
    </div>
  </div>
</div>
</div>
